<%= govuk_details(summary: 'PGDE') do %>
  <p class="govuk-body">
    A postgraduate diploma in education (PGDE) is equivalent to a postgraduate certificate in education (PGCE).
  </p>
  <p class="govuk-body">
    It&rsquo;s recognised internationally, though you should always check what qualifications are needed in the country you&rsquo;d like to teach in.
  </p>
  <p class="govuk-body">
    This course does not lead to qualified teacher status (QTS).
  </p>
<% end %>
