<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">PGDE with QTS</span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">
      A postgraduate diploma in education (PGDE) with qualified teacher status (QTS) allows you to
      teach in England, Scotland, Wales and Northern Ireland. It&rsquo;s also recognised internationally.
      PGDE courses include credits that count toward a Master&rsquo;s degree.
    </p>
  </div>
</details>
