<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">QTS</span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">
      QTS (qualified teacher status) allows you to teach in state schools in England.
    </p>
    <p class="govuk-body">
      It may also allow you to teach in <%= link_to "the EU, the EEA and Switzerland", "https://www.gov.uk/eu-eea", class: "govuk-link" %>. You should check with the institution you’d like to teach in for confirmation. The status of QTS in these countries may change after the UK leaves the EU. Please check <%= link_to 'GOV.UK', 'https://www.gov.uk', class: 'govuk-link' %> for updates.
    </p>
    <p class="govuk-body">
      To teach in the rest of the UK or internationally, you may wish to consider a &lsquo;PGCE (or PGDE) with QTS&rsquo; qualification instead.
    </p>
  </div>
</details>
