.app-filter {
  background-color: govuk-colour("light-grey");
  padding: govuk-spacing(3);

  .govuk-checkboxes__label,
  .govuk-radios__label {
    @include govuk-font(16);

    &::before {
      background-color: govuk-colour("white");
    }
  }
}

.app-filter__group {
  border-bottom: 1px solid $govuk-border-colour;
  margin-bottom: govuk-spacing(3);
  padding-bottom: govuk-spacing(3);

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .govuk-form-group {
    margin-bottom: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.app-filter__scroll {
  height: 300px;
  overflow-y: scroll;
  margin: 0 #{govuk-spacing(3) * -1} #{govuk-spacing(3) * -1} #{govuk-spacing(3) * -1};
  padding: 0 govuk-spacing(3);
}

.app-filter__scroll::-webkit-scrollbar {
  width: govuk-spacing(2);
}

.app-filter__scroll::-webkit-scrollbar-thumb {
  background-color: govuk-colour("mid-grey");
}
