// Search results view
.search-results-filters {
  display: block;
}

.search-results {
  border-top: 1px solid $govuk-border-colour;

  > li {
    @include govuk-responsive-padding(4, "top");
    @include govuk-responsive-padding(4, "bottom");
    border-bottom: 1px solid $govuk-border-colour;
    margin: 0;
  }

  &__count {
    float: left;
  }

  &__new-search {
    float: right;
  }
}

.search-result-link {
  text-decoration: none;

  .search-result-link-name {
    text-decoration: underline;
  }
}

.search-results-header {
  border-top: 1px solid $govuk-border-colour;
  padding-bottom: govuk-spacing(2);

  @include govuk-media-query($from: desktop) {
    padding-top: govuk-spacing(2);
  }

  &__cta {
    margin: govuk-spacing(1) 0;
    display: none;

    .js-enabled & {
      display: block;
    }
  }

  .govuk-form {
    @include mq($from: desktop) {
      text-align: right;
    }
  }

  .govuk-form-group {
    clear: both;
    display: inline-block;
    margin-bottom: 0;
    margin-top: govuk-spacing(2);

    @include mq($from: desktop) {
      margin: 0;
    }
  }

  .govuk-button {
    float: right;
    margin: govuk-spacing(2) 0 0 0;

    @include mq($from: desktop) {
      margin: 0 0 0 govuk-spacing(2);
    }

    .js-enabled & {
      display: none;
    }
  }

  select {
    width: 100%;

    @include mq($from: desktop) {
      width: 220px;
    }
  }

  .sortedby-label {
    @include mq($from: desktop) {
      display: inline;
      margin-right: 0.5em;
    }
  }
}
