.govuk-toggle__link {
  @include govuk-font($size: 19, $weight: 'bold');
  @include govuk-responsive-margin(6, "bottom");
  background-color: govuk-colour("light-grey");
  background-image: url('../images/option-select-toggle-sprite.png');
  background-position: right -75px;
  background-repeat: no-repeat;
  border: none;
  color: $govuk-text-colour;
  display: none;
  padding: 8px;
  text-align: left;
  text-decoration: none;
  width: 100%;

  &.govuk-toggle__link--open {
    background-position: right 5px;
  }

  .js-enabled & {
    display: block;

    // hide for desktop only
    @include mq ($from: desktop) {
      display: none;

      &.map-results {
        display: block;
      }
    }
  }
}

.govuk-toggle__target {
  display: block;

  .js-enabled & {
    display: none;

    // always show for desktop
    @include mq ($from: desktop) {
      display: block;
    }

    &.govuk-toggle__target--open {
      display: block;
    }
  }
}

.map-results.js-enabled {
  .govuk-toggle__link {
    display: block;
  }

  .govuk-toggle__target {
    display: none;

    &.govuk-toggle__target--open {
      display: block;
    }
  }
}
