<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="section-international-students">International candidates</h2>
  <div data-qa="course__international_students">
    <p class="govuk-body"><%= visa_sponsorship_status %></p>
    <h3 class="govuk-heading-m">International qualifications</h3>
    <p class="govuk-body">If your qualifications come from a non-UK institution, we may want to see a ‘statement of comparability’ from UK ENIC. This will show us how they compare to UK qualifications.</p>

    <p class="govuk-body">You can call <a href="https://getintoteaching.education.gov.uk" class="govuk-link">Get Into Teaching</a> on 0800 389 2500 for:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>guidance on the UK equivalents of your qualifications</li>
      <li>a free statement of comparability once you’ve submitted your application (if we ask you for this)</li>
    </ul>

  </div>
</div>
