@import "../../../node_modules/govuk-frontend/govuk/all";

@import "components/cookie-banner";
@import "components/preview-banner";
@import "components/map";
@import "components/accordion";
@import "components/toggle";
@import "patterns/course-parts";
@import "patterns/success-summary";
@import "patterns/definition-list";
@import "patterns/filters";
@import "patterns/pagination";

.govuk-list--dash {
  margin-bottom: govuk-spacing(8);
  padding-left: govuk-spacing(3);

  li {
    position: relative;

    &:before {
      color: govuk-colour("dark-grey");
      content: "\2013";
      left: -16px;
      position: absolute;
      top: 0;
    }
  }
}

.app-google-map {
  display: none;

  .js-enabled & {
    display: block;
    margin-bottom: govuk-spacing(6);
    padding-bottom: 66.6%;
    width: 100%;
  }
}

.govuk-list li > .govuk-body:last-child {
  margin-bottom: 0;
}

// Search results view
.search-results-filters {
  display: block;
}

.search-results {
  border-top: 1px solid $govuk-border-colour;

  > li {
    @include govuk-responsive-padding(4, "top");
    border-bottom: 1px solid $govuk-border-colour;
    margin: 0;
  }

  &__count {
    float: left;
  }

  &__new-search {
    float: right;
  }
}

.search-result-link {
  text-decoration: none;

  .search-result-link-name {
    text-decoration: underline;
  }
}

.search-results-header {
  border-top: 1px solid $govuk-border-colour;
  padding-bottom: govuk-spacing(2);
  padding-top: govuk-spacing(2);

  &__cta {
    margin: govuk-spacing(1) 0;
    display: none;

    .js-enabled & {
      display: block;
    }
  }

  .govuk-form {
    @include mq($from: desktop) {
      text-align: right;
    }
  }

  .govuk-form-group {
    clear: both;
    display: inline-block;
    margin-bottom: 0;
    margin-top: govuk-spacing(2);

    @include mq($from: desktop) {
      margin: 0;
    }
  }

  .govuk-button {
    float: right;
    margin: govuk-spacing(2) 0 0 0;

    @include mq($from: desktop) {
      margin: 0 0 0 govuk-spacing(2);
    }

    .js-enabled & {
      display: none;
    }
  }

  select {
    width: 100%;

    @include mq($from: desktop) {
      width: 220px;
    }
  }

  .sortedby-label {
    @include mq($from: desktop) {
      display: inline;
      margin-right: 0.5em;
    }
  }
}
