<% if devolved_nation %>
  <h2 class="govuk-heading-m">This service is for courses in England</h2>
<% end %>

<% case country
   when "Scotland" %>
  <p class="govuk-body">
    <%= govuk_link_to 'Learn more about teacher training in Scotland', 'https://teachinscotland.scot/' %>
  </p>
<% when "Wales" %>
  <p class="govuk-body">
    <%= govuk_link_to 'Learn more about teacher training in Wales', 'https://www.discoverteaching.wales/routes-into-teaching/' %>
  </p>
<% when "Northern Ireland" %>
  <p class="govuk-body">
    <%= govuk_link_to 'Learn more about teacher training in Northern Ireland', 'https://www.education-ni.gov.uk/articles/initial-teacher-education-courses-northern-ireland' %>
  </p>
<% else %>
  <%= render partial: 'try_another_search_text' %>
<% end %>
