<% if devolved_nation %>
  <h2 class="govuk-heading-l">This service is for courses in England</h2>
<% end %>

<% case country
   when "Scotland" %>
  <p class="govuk-body">
    <%= link_to "Learn more about teacher training in Scotland", "https://teachinscotland.scot/", class: "govuk-link" %>
  </p>
<% when "Wales"%>
  <p class="govuk-body">
    <%= link_to "Learn more about teacher training in Wales", "https://www.discoverteaching.wales/routes-into-teaching/", class: "govuk-link" %>
  </p>
<% when "Northern Ireland"%>
  <p class="govuk-body">
    <%= link_to "Learn more about teacher training in Northern Ireland", "https://www.education-ni.gov.uk/articles/initial-teacher-education-courses-northern-ireland", class: "govuk-link" %>
  </p>
<% else %>
  <h2 class="govuk-heading-l">There are no courses matching your&nbsp;search</h2>
  <%= render partial: "try_another_search_text" %>
<% end %>
