<p class="govuk-body">
  You can <%= govuk_link_to 'try another search', root_path %>, for example by changing subject or location<% if @results_view.with_salaries? %> or searching for courses that do not offer a salary<% end %>.
</p>
