<div class="app-cookie-preferances">
  <h2 class="govuk-heading-l">Cookie that measure website use</h2>
  <p class="govuk-body">
    We use Google Analytics software to collect information about how you use ‘Find postgraduate teacher training’.
    We do this to help make sure the site is meeting the needs of its users and to help us make improvements.
  </p>
  <p class="govuk-body">Google Analytics stores information about:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>the pages you visit on ‘Find postgraduate teacher training’</li>
    <li>how long you spend on each page</li>
    <li>how you got to the site</li>
    <li>what you click on while you’re visiting the site</li>
  </ul>
  <p class="govuk-body">We don’t allow Google to use or share our analytics data.</p>
  <form action="">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h3 class="govuk-fieldset__heading">
            Do you accept Google Analytics cookies?
          </h3>
        </legend>
        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="cookie-consent-accept" name="cookie-consent" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="cookie-consent-accept">
              Yes, opt-in to Google Analytic cookies
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="cookie-consent-deny" name="cookie-consent" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="cookie-consent-deny">
              No, do not track my website usage
            </label>
          </div>
        </div>
      </fieldset>
    </div>
    <button class="govuk-button">Save changes</button>
  </form>
</div>
