<%= content_for :page_title, "Cycle ending soon" %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Find Postgraduate Teacher Training</h1>
      <h2 class="govuk-heading-m">Find courses starting this academic year (2020 to 2021)</h2>
      <p class="govuk-body">
        There are still some vacancies for some courses starting this academic year.
      </p>

      <h3 class="govuk-heading-s">If you’re applying for the first time</h3>
      <p class="govuk-body">
        Apply no later than 7 September.
      </p>
      <h3 class="govuk-heading-s">If you’re applying again</h3>
      <p class="govuk-body">
        Apply no later than 18 September.
      </p>
      <p class="govuk-body">
        <%= link_to "Find courses with vacancies", start_location_path, class: "govuk-button" %>
      </p>

      <h2 class="govuk-heading-m">Find courses starting next academic year (2021 to 2022)</h2>
      <p class="govuk-body">
        You can find courses from 6 October 2020 and apply from 13 October 2020.
      </p>
    </div>
  </div>
</div>
