<%= content_for :page_title, 'Sorry, the service is unavailable' %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
      <p class="govuk-body">Try again later.</p>
      <p class="govuk-body">If you reached this page after submitting information then it has not been saved.
        You’ll need to enter it again when the service is available.
      </p>
      <p class="govuk-body">If you have any questions, email
        <%= govuk_mail_to bat_contact_email_address, subject: "Service unavailable", class: "govuk-link--no-visited-state" %>.
      </p>
    </div>
  </div>
</div>
