<p class="govuk-body">
  <%= govuk_start_now_button(
    text: 'Apply for this course',
    href: apply_path(provider_code: course.provider.provider_code, course_code: course.course_code),
    html_attributes: {
      data: { qa: 'course__apply_link' },
    },
  ) %>
</p>
