<% if CycleTimetable.mid_cycle? %>
  <p class="govuk-body">
    <%= govuk_start_now_button(
      text: 'Apply for this course',
      href: apply_path(provider_code: course.provider.provider_code, course_code: course.course_code),
      html_attributes: {
        data: { qa: 'course__apply_link' },
      },
    ) %>
  </p>
<% else %>
  <div data-qa="course__end_of_cycle_notice">
    <p class="govuk-body">You can apply to this course from 13 October.</p>
  </div>
<% end %>
