<p class="govuk-body">To be a teacher in England you need:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>a degree or an equivalent qualification</li>
  <li>English and Maths GCSEs at grade 4 (C) or above</li>
  <li>For primary teaching, a science subject GCSE at grade 4 (C) or above</li>
</ul>
<p class="govuk-body">You can find out more about entry requirements, and how it works if you have studied overseas, at <%= govuk_link_to "Get Into Teaching", "https://beta-getintoteaching.education.gov.uk/steps-to-become-a-teacher" %>.</p>

<h4 class="govuk-heading-s">Refreshing your subject knowledge</h4>
<p class="govuk-body">If you have the right qualities and qualifications to teach but need to refresh your subject knowledge, you might be asked to complete a <%= govuk_link_to "subject knowledge enhancement (SKE) course", "https://getintoteaching.education.gov.uk/explore-my-options/teacher-training-routes/subject-knowledge-enhancement-ske-courses" %>.</p>

<p class="govuk-body">You’ll find out if you need to complete an SKE course after the interview stage.</p>
