<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="section-international-students">International students</h2>
  <div data-qa="course__international_students">
    <p class="govuk-body">We <%= visa_sponsorship_status(course.provider) %>.</p>
    <p class="govuk-body">You do not need a visa if you already have settled or pre-settled status under the EU Settlement Scheme, or if you are an Irish citizen.</p>
    <p class="govuk-body">Candidates with qualifications from non-UK institutions may need to provide evidence of comparability by applying for a <%= govuk_link_to("UK ENIC statement", "https://www.enic.org.uk") %>.</p>
  </div>
</div>
