<main class="govuk-main-wrapper" id="main-content" role="main">
  <% if flash[:success] %>
    <%= govuk_notification_banner(
      title_text: 'Success',
      success: true,
      title_id: 'success-message',
      html_attributes: { role: 'alert' },
    ) do |notification_banner| %>
    <% notification_banner.heading(text: flash[:success]) %>
  <% end %>
<% end %>

<%= render DeadlineBannerComponent.new(flash_empty: flash.reject { |flash| flash[0] == "start_wizard" }.empty?) unless request.url.include?('/results/filter/subject')%>

<%= yield %>
</main>
